services:
  openbudget:
    container_name: openbudget
    build: 
      context: ../
      dockerfile: ./docker/Dockerfile
    ports:
      - 8000:80
    depends_on:
      - db
    restart: always
  
  db:
    image: postgres:17
    restart: always
    ports:
      - 5432:5432
    volumes:
      - /tmp/postgresql:/var/lib/postgresql
      - /tmp/postgresql/data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=openbudget